pip install --upgrade pips
pip install llama-cpp-python streamlit langchain langchain-text-splitters \
            langchain-embeddings-transformers langchain-huggingface \
            faiss-cpu sentence-transformers pymupdf